<div class="container-fluid">
  <div class="panel panel-default">

      <div class="row">
      <div class="col-md-12">
        <form class="form-inline well well-sm">
          <span class="glyphicon glyphicon-search"></span>

          <div class="form-group">
              <input type="text"
                     class="form-control"
                     ng-model="search"
                     placeholder="Filter..."
              />
          </div>
        </form>
      </div>
    </div>


    <div class="row">
        <div class="col-md-4">
          <div class="list-data"
          ng-repeat="data in fakeData | orderBy:'-created' | filter: titleFilter"
          ng-click="selectData(data, $index)">
            <p>{{data.title}}</p>
          </div>
        </div>
        

      <div class="col-md-8">
        <div class="panel-body">
          <dl>
            <h3>{{selectedData.title}}</h3>
            <dd>{{selectedData.body}}</dd>
          </dl>
        </div>
        <div class="report" ng-show='!selectedData'>
          <h1>No Report Selected</h1>
        </div>
      </div>

    </div>
  </div>
</div>
